<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Project exchange calculator</title>
  <meta name ="description" content="Bny Mellon WE project- Start IT. Create first app- exchange calculator"/>
  <meta name="keywords" content="Project, calculator, exchange, BNY mellon, money"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
</head>
<body>
<app-header></app-header>
  <div id="currencyTab">
    <h1>Currency table</h1>
    <app-table></app-table>
  </div>
<app-calculator></app-calculator>
<div id="footer">
  ©2023 THE BANK OF NEW YORK MELLON CORPORATION

</div>

</body>
</html>


