#currency-table{
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
#currency-table th,
#currency-table td {
  padding: 1px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

#currency-table th {
  background-color: #00243D;
  color: #E3EBED;
}

#currency-table tbody tr:nth-child(even) {
  background-color: #E3EBED;
}
