#header {
  height: 120px;
  color: #E3EBED;
  background-color: #00243D;
  align-items: center;
  margin: 2px;
  padding: 10px;
}
.logo-container {
  float: left;
}

.text-container {
  text-align: -webkit-center;
  font-size: 40px;
  font-style: initial;
}
